html
  head
    title= title    
  body
    h1= title
    if isLoggedIn
        h3 You are logged in.
        form(name="logout",method="POST",action="logout")
            div
                input(type="submit",value="Logout")

    else
        form(name="login",method="POST",action="login")
            div
                label(for="email") Email
                input(name="email",type="email",phaceholder="youremail@email.com")
            div
                label(for="password") password
                input(name="password",type="password",phaceholder="password")
            div 
                input(name="remember",type="checkbox",value="remember")
                | Remember Me
            div
                input(type="submit",value="Login")